.filter-container {
  background-color: #ffffff;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.filter-heading-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.filter-title {
  text-align: center;
}

.reset-title {
  text-align: end;
}

h4 {
  padding: 10px;
  margin: 0;
}

