

.greeter-container{
    background:linear-gradient(to right bottom,#EBF3FD,#ffffff);
    height: 100vh;

    width: 100%;
    display: flex;
}

.flight-search-container{
    height:60%;
    width:100%;
    background-color: #ffffff;
    border-radius:5px;
    display: flex;
   flex-direction: column;
   border-radius: 20px;
}
.greeter-l{
    display: flex;
    flex-direction: column;
    width:55%;
    min-width:300px;
    margin-top:2em;
    margin-left: 2em;
}

.greeter-r{
  margin: 2em 2em 0 2em;
  width:20%;
  min-width: 250px;

}

.flight-content{
    display: flex;
    flex-direction: column;
}

// 

/* TripSelector.scss */
.trip-selector {
    background-color: #fff;
    padding: 1rem;
    border-radius: 16px;
    // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    
  }
  
  .radio-buttons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 1rem;
  
    input[type='radio'] {
      margin-right: 0.3rem;
    }
  }
  



  .travel-input-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width:200px;
    position:relative;
    & label{
      font-size: 0.75rem;
      color:#6b6e72;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
   
    & input[type='text']{
      padding:1em 1.5em;
      background-color: #F5F7FA;
      border-radius: 10px;
      margin-bottom: 2em;
      color:#6b6e72;
   
    }
  
 

  }



  .trip-container{
    padding:1em;
    display:flex;
    flex-direction: column;
    align-items: center;

    .roundButton{
      background-color: #3C88EF;
      padding:1em 1.5em;
      color:#ffffff;
      border-radius: 10px;
      font-weight: 600;
    }
  }

  .flight-search{
    height:100%;
  }

  .travel-calender-container{
    display:flex;

   
    & input[type='text']{
      padding:1em 1.5em;
      position: relative;
      background-color: #F5F7FA;
      border-radius: 10px;
      margin-right: 2em;
   
    }
     & .search-btn{
      padding:1em 2em;
      background-color: #71C879;
      border-radius: 10px;
      width:70%;
      min-width:200px;
      font-weight: 600;
      color:#ffffff;
    }
  }

  .suggestions-container{
    position:absolute;
    top:65px;
    border-radius: 10px;
    z-index:10;
    width: 100%;
    min-width:200px;
    height:175px;
    background-color: white;
    border:2px solid rgb(206, 201, 201);
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .suggestions{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      padding:0.5em 0.7em;
      border-radius: 10px;
      margin-bottom:1em;

      &:hover{
        background-color: #3C88EF;
        color:#ffffff;
      }
    }
  
  }

  .placeholder-icon{
   
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left:20px;
     
   
      color:#3C88EF;
    
  }
  .iata-cur{
    position: absolute;
      top:45%;
      transform: translateY(-50%);
      right:20px;
     
  }