.modal{
position: fixed;
top:0;
left:0;
height:100vh;
width:100vw;
background-color: rgba($color: #000000, $alpha: .2);
}

.modal-content{
    background-color: #ffffff;
    position: relative;
    padding:2em;
    top:50%;
    left:50%;
    width:600px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

.modal-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Create 7 columns */
    gap: 10px; /* Add a gap between columns */
   text-align: center;
  }
  
  