@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Fuggles&family=Montserrat:ital@1&family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@700&family=Fuggles&family=Montserrat:ital@1&family=Noto+Sans:wght@800&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@400;500&family=Roboto+Condensed&family=Skranji&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
 
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}



main{
margin-left:150px;
position: fixed;
width: 100%;
font-family: 'Nunito Sans';
}





a {
    text-decoration: none;
 
}

li {
    list-style: none;
}

input{
    border:none;
    cursor:pointer;
}

button{
    border:none;
    cursor: pointer;
}
